<nav class="navbar">
  <div class="container-fluid py-2" style="background-color: lightslategrey" data-bs-auto-close="inside">
    <div id="mySidebar" class="sidebar" [style]="{ width: sideBarWidth }">
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()"
        >&times;</a
      >
      <a href="#">Orders</a>
      <a href="#">Account</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a>
    </div>

    <div class="row">
      <div class="col-1">
        <a (click)="openSideBar()">
          <span class="navbar-toggler-icon text-color-light"></span>
        </a>
      </div>

      <div class="col-1 me-3">
        <a class="navbar-brand" routerLink="home">SFH</a>
      </div>

      <div class="col-6">
        <div
          class="custom-wrapper-example"
          matAutocompleteOrigin
          #origin="matAutocompleteOrigin"
        >
          <input
            class="form-control"
            matInput
            [formControl]="searchControl"
            [matAutocomplete]="auto"
            [matAutocompleteConnectedTo]="origin"
          />
        </div>

        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of options" [value]="option">{{
            option
          }}</mat-option>
        </mat-autocomplete>
      </div>

      <div class="col-1 me-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="2rem"
          height="2rem"
          fill="currentColor"
          class="bi bi-cart2"
          viewBox="0 0 16 16"
        >
          <path
            d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"
          />
        </svg>
      </div>

      <div class="col-1 me-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="2rem"
          height="2rem"
          fill="currentColor"
          class="bi bi-person-circle"
          viewBox="0 0 16 16"
        >
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
          <path
            fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
          />
        </svg>
      </div>
    </div>
  </div>
</nav>

<div>
  <app-dropdown></app-dropdown>
</div>
