<nav class="navbar py-0" style="position: sticky; top:0;">
  <div class="py-2 ps-2" style="background-color: lightslategrey" data-bs-auto-close="inside" >
    <!-- <div id="mySidebar" class="sidebar" [style]="{ width: sideBarWidth,position: 'absolute', zIndex: '200' }">
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()"
        >&times;</a
      >
      <a href="#">Orders</a>
      <a href="#">Account</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a>
    </div> -->

    <div class="row">
      <div class="col-1" style="margin-top: 0.1rem;">
        <a (click)="openSideBar()">
          <span class="navbar-toggler-icon text-color-light"></span>
        </a>
      </div>

      <div class="col-1 me-3">
        <a class="navbar-brand" routerLink="home">SFH</a>
      </div>

      <div class="col-6">


        <input class="form-control" type="text" placeholder="Search" aria-label="default input example" (keyup.enter)="searchEnter()" #searchBar>

      </div>

      <div class="col-1 me-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="2rem"
          height="2rem"
          fill="currentColor"
          class="bi bi-cart2"
          viewBox="0 0 16 16"
        >
          <path
            d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"
          />
        </svg>
      </div>

      <div class="col-1 me-1 mt-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="2rem"
        height="2rem" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
        </svg>
      </div>
    </div>
  </div>
</nav>


