.accordion{

  --bs-accordion-border-color: transparent;
  --bs-accordion-border-width: 0;
  --bs-accordion-border-radius: 0;
  --bs-accordion-inner-border-radius: 0;
  --bs-accordion-btn-padding-x: .2rem;
  --bs-accordion-btn-padding-y: .2rem;
  --bs-accordion-btn-focus-box-shadow: 0;


}

.accordion-body{
  padding: 0;
}

.form-control-sm {
  min-height: 1rem;


}

